<div class="flex flex-row border border-gray-300 bg-white shadow rounded p-2 justify-between">
  <div><%= @billet.description %> | R$ <%= @billet.amount %></div>
  <div class="flex flex-row items-center space-x-3">
    <div class="py-0.5 px-1 rounded  text-sm text-white font-bold bg-blue-500 hover:bg-blue-600">Editar</div>

    <%= form_for @billet, method: :delete, id: 'delete-form' do |f| %>
      <%= f.submit 'Deletar', class: 'py-0.5 px-1 rounded text-sm text-white font-bold bg-red-500 hover:bg-red-600 transition-all duration-100', onclick: 'return confirmDelete()' %>
    <% end %>

  </div>
</div>


<script>
  function confirmDelete() {
    return confirm('Você tem certeza que deseja excluir esse boleto? Esta ação é irreversível!');
  }
</script>